<div class="topnav">

    <!-- Centered link -->
    <div class="topnav-centered">
    </div>
    
    <!-- Left-aligned links (default) -->
    <a *ngIf="!isLoggedIn" href="/login">Login</a>
    <a *ngIf="isLoggedIn" (click)="logOut()">Logout</a>
    <!-- Right-aligned links -->
    <div class="topnav-right">
    </div>
    
  </div>
<input type="text" class="input" [(ngModel)]="name" placeholder="Enter name">
<input type="text" class="input" [(ngModel)]="lastName" placeholder="Enter lastname">
<button *ngIf="!isEdit" class="backButton" (click)="save()">save</button>
<button *ngIf="isEdit" class="backButton" (click)="edit()">edit</button>